<html>
<head>
    <title>day4</title>
    <link rel="stylesheet" href="/public/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="blog.html"></script>
    <script src="contact-me.html"></script>
</head>
<body>

    <!-- NAVBAR -->
    <nav>
        <!-- Left -->
        <div class="left-side">
            <img src="/public/assets/logo.png">

            <ul>
                <li><a href="/" class="text-gray">Home</a></li>
                <li><a href="blog">Blog</a></li>
            </ul>
        </div>

        <!-- Right -->
        <div class="right-side">
            <a href="contact-me">Contact Me</a>
        </div>
    </nav>
    <!-- AKHIR NAVBAR -->

    <!-- CONTENT -->
    <div class="container-main">

        <div class="container-content">

            <div class="right-side">

                <h2>Hi Welcome to my hut</h2>

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <div class="exp-button">
                <button>contact</button>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>
                <h3>download</h3>
                </div>


                <h2>Found Me on</h2>

                <div class="sosial-media">
                    <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a> 
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                </div>


            </div>

            <div class="left-side">
                <div>
                <img src="/public/assets/indah.JPG"/>

                <h2>Indah Salsabila Putri</h2>

                <p>Fullstack Developer</p>
                </div>
            </div>

        </div>

    </div>

    



</body>
</html>